body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Black', sans-serif;
  color: #212529;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

p {
  font-family: 'Montserrat-Black', sans-serif;
  color: #212529;
}

/* Colored Sections */
.colored-section {
  background-color: #f4d160;
}

.white-section {
  background-color: #fff;
}

/* Containers*/
.container-fluid {
  padding: 7% 15%;
  text-align: center;
}

/* Navbar Section */
#nav-section .container-fluid {
  padding: 2% 15% 3%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}

.nav-link {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.3rem;
}

/* Title Section */
.title-section {
  margin-left: 10%;
}

.card {
  width: 16rem;
  border-style: none;
  margin-bottom: 1rem;
  opacity: 1;
  transition: .3s ease;
  backface-visibility: hidden;
  background-color: #f4d160;
}

.card-img-top {
  width: 100%;
  margin: auto;
}

.card:hover {
  opacity: 0.7;
}

.card-title {
  color: #1b262c;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-link-1 {
  text-decoration: none;
}



/* Login & Signup Section */
.login-form {
  text-align: center;
  padding-top: 2rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.form-control {
  width: 30%;
  margin: auto;
}

.login-div{
  margin-top: 3rem;
}

.login-btn {
  margin: 2% 1%;
  color: #fff;
}

.login-btn:hover {
  color: #b3b3b3;
}

.signup-btn {
  margin: 2% 1%;
}

.span-1 {
  color: #000;
  font-weight: normal;
}

.form-item-1 {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.form-item-1:hover {
  color: #b3b3b3;
}

.form-item-2 {
  color: #343a40;
  font-weight: bold;
  text-decoration: none;
  padding-left: 1rem;
}

.form-item-2:hover {
  color: #b3b3b3;
}

.form-check-input:checked {
  background-color: #000;
}



/* Partners section */
.partners-section {
  margin: 8% 10% 3%;
}

.card-img-partner {
  width: 50%;
  margin: auto;
}

/* About Us Section */
#about-us {
  background-color: #fff;
}

.about-us {
  margin-top: 2rem;
}

.about-text {
  text-align: justify;
}

.contact-info {
  margin-top: 6rem;
}


/* Footer */
#footer {
  font-size: 1rem;
}

.social-icon {
  margin: 20px 10px;
}

.a-footer {
  color:  #212529;
}

.a-footer:hover {
  color: #fbeeac;
}

/*Uslovi Korišćenja*/
.uslovi-koriscenja {
  margin: 2rem 2rem;
  text-align: justify;
}

/* Pet pages*/
.proba {
  padding-left: 3rem;
}

/*USER PAGE*/

/*User Section*/
#user-section {
  padding-bottom: 5rem;
}

.info-user {
  padding-bottom: 3rem;
}

.side-text{
  color:/* #6c757d #343a40;*/ #505962;
  text-decoration: none;
}

.side-text:hover {
  color: #212529;
}

.user-img {
  width: 8rem;
}

/*Add Section*/
#ad-section {
  padding-bottom: 2rem;
}

.form-add {
  margin-top: 3rem;
}

/* All User Ads*/
.up-card {
  display: inline-block;
  margin: 2rem 2rem;
}

.user-active-ads {
  margin-top: 3rem;
}


/* Zaboravljena Šifra */
#floatingEmailForgotten {
  width: 20%;
}
.forgotten-password {
  margin: 10rem 0;
}

.request-form {
  margin-top: 3rem;
}
